body{
    overflow-x: hidden;
    overflow-y: hidden;
    pointer-events: none;
    height: 100vh;
    background-image: url(IMG_3472.jpg);
   
}
.background{
    /*background-image: linear-gradient(#F88AFC,#D1A5FD,#A9C1FE,#82DCFF);*/

    
}

.logo{ 
    position:relative;
    background-color: white;
    width: 210px;
    border-radius: 100%;
    padding: 5px;
    left:45%;
    top: 300px;
    z-index:1;
    animation: rotate 2s ;
    
}
#logo-nav{
    position: relative;
    background-color: white;
    width: 40px;
    border-radius: 100%;
    padding: 5px;
    left: 10px;
    
    z-index:99;
}
.Op1{
    opacity: 1;
}
.Op0{
    opacity: 0;
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
        animation-delay: 0.5s;
    }
}
.nav{
    display: flex;
    position: fixed;
    background-color: #a569bd;
    gap: 20px;
    padding:10px;
    width: 100%;
    height: 50px;
    top: 0%;
    left: -10px;
    border:20px;
    align-items: center;
    
    
}
.item{
    position: relative;
    color: white;
    left: 88%;
    
   
}


.Block{ 
    position: relative;
    background-color: #CCCCFF;
    width: 480px;
    height: 700px;
    left: -5px;
    top: 10px;
    border: 3px solid white

}
#Block2{
    top: -41em;
    left: 30em;
}
#Block3{
    top: -85.1em;
    left: 60em;
}
#Block4{
    top: -129.28em;
    left: 90.3em;
}

